/*Se aplica a todo*/
*{
    padding: 0;
    margin: 0;
}

/* Lo que se aplica a etiquetas*/
body{
    font-family: 'Lobster', cursive;
}

/*Se aplica solo al menu de navegacion*/
nav{
    position: absolute;
    width: 100%;
}

/*Se aplica al h2*/
h2{

    text-align: center;
    color: whitesmoke;
    font-size: 35px;
    background-color: black;
    padding: 10px;
}

/*Se aplica al pie de pagina*/
footer{
    clear: left;
    background-color: black;
    padding: 10px;
    text-align: center;
    color: whitesmoke;
}

/***********************************************/
/*Imagen de cabecera*/
.cabecera{
    background-image: url(images/sombrero.jpg);
    width: 100%;
    height: 80vh;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cabecera2{
    background-image: url(images/image6.jpg);
    width: 100%;
    height: 80vh;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cabecera3{
    background-image: url(images/Trajes-tipicos-mexicanos.jpg);
    width: 100%;
    height: 80vh;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Imagen del logo*/
.logo{
    border-radius: 25%;
    border-color: black;
}

.alineacion{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
}

/*********************************************/
/* Elementos contenido*/
#lista{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.textolista{
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.textolista:hover{
    background-color: dimgray;
}

.item{
    float: left;
}

.galeria{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.elemento{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    
}

.elemento:hover{
    opacity: 0.6;
}

.foto{
    width: 100%;

    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
}

.piefoto{
    padding: 15px;
    text-align: center;
    background-color: black;
    flex-wrap: wrap;
    color: whitesmoke
}

.tamano{
    width: 240px;
    height: 240px;
}

.textocontenido{
    text-align: center;
    margin: 20px;
}

/*************************************************/
/*SOCIAL MEDIA BUTTONS*/

.fa{
    padding: 13px;
    width: 19px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 30%;
    font-size: 50px;
    
}

.roll{
    font-size: 50px;
}

.fa:hover{
    opacity: 0.7;
}

.fa-facebook{
    background: #3B5998;
    color: white;
}

.fa-youtube{
    background: #bb0000;
    color: white;
}




